div {
    width: 350px;
    margin-bottom: 20px;
}

button {
    display: block;
    margin-top: 50px;
    position: relative;
}

p {
    margin-top: -60px;
    position: absolute;
    color: #ff0000;
    background-color: #97c4b8;
    padding: 5px;
    display: none;
}

label {
    display: block;
}