/*第一表格部分*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding: 20px;
}
table thead{
    background-color: #000;
    color: #fff;
}
tbody tr:nth-child(1),tbody tr:nth-child(2),tbody tr:nth-child(3){
    color: red;
}
tbody tr:nth-child(2n){
    background-color: #ddd;
}
/*第二部分*/
input {
    margin-bottom: 50px;
    width: 200px;
    height: 40px;
    transition: all 1s ease-in-out ;
}
input:focus {
    width: 400px;
    height: 80px;
    transition: all 1s ease-in-out ;
}


/* 第三部分。 */
.slide{
    width:200px;
    overflow: hidden;
    position: relative;

}
.slide .image{
    list-style: none;
    width:600px;
}
.slide .image li{
    width:200px;
    height:150px;
    float: left;
}
.slide .image li:nth-child(1){
    background-color: #932;
}
.slide .image li:nth-child(2){
    background-color: #eee;
}
.slide .image li:nth-child(3){
    background-color: yellow;
}
.nav {
    position:absolute;
    z-index: 9999;
    left:50%;
    bottom:10px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.nav a{
    float:left;
    display: block;
    height:10px;
    width:10px;
    background-color: #000;
    margin-left: 10px;
    border-radius: 50%;
}
.nav a:first-child{
    margin-left: 0;
}
