/*css重置*/

html,body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,th,tr,img,div,dl,dt,dd,input,label,figure {
    margin: 0;
    padding: 0;
}

*,*:after,*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 12px;
    font-family: "Arial", "Microsoft YaHei", "SimHei", "SimSun", sans-serif;
}

img {
    border: none;
}

li {
    list-style: none;
}

input,
select,
textarea,
button {
    background: none;
    /*解决输入框兼容问题*/
    outline: none;
    /*聚焦时样式*/
    border: none;
    /*去除input的边框，自行设置*/
    box-sizing: border-box;
    /*盒子模型*/
    vertical-align: middle;
    /*对不齐的问题*/
}

/* textarea {
 resize: none;
}/*取消可拖动放大*/

a {
    text-decoration: none;
}

.clearfix:before,.clearfix:after {
    content: "\200b";
    display: block;
    height: 0;
    clear: both;
}

/*css重置完成*/


/* icon图标类。 需要使用的时候直接引入就好。*/
/*稍微有点偷懒，切的不是完全的对应。。。*/
.icon-img{background:url(img/icon-img.png) no-repeat;display:inline-block;}
.people{height:17px;width:14px;background-position:0 0;}
.select{height:18px;width:19px;background-position:-24px 0;}
.qq{height:25px;width:24px;background-position:-64px 0;}
.browser{height:25px;width:24px;background-position:-104px 0;}
.twitter{height:25px;width:29px;background-position:-152px 0;}
.weibo{height:25px;width:29px;background-position:-192px 0;}
.book-sm{height:31px;width:31px;background-position:0 -40px;}
.flower{height:40px;width:35px;background-position:-40px -40px;}
.ensign{height:40px;width:35px;background-position:-88px -40px;}
.square{height:40px;width:41px;background-position:-136px -40px;}
.target{height:42px;width:42px;background-position:-192px -41px;}
.book-big{height:92px;width:91px;background-position:0 -88px;}

/* 图标类结束 */

/* hack */
.size0{
    font-size:0;
    -webkit-text-size-adjust:none;
}

/* 页面开始 */


/* 整体宽度控制 */
.wrapper{
    min-width: 1277px;
    margin:0 auto;
}
/* 头部 */

.head{
    height: 55px;
}
.head .h-title{
    float: left;
    font-size: 20px;
    font-family: "simHei";
    line-height: 55px;
    margin-left:58px;
}
.head .h-title .book-sm{
    margin-right: 12px;
}
