body {
    padding: 20px;
    font-family: "微软雅黑";
}

* {
    box-sizing: border-box;
}

.row::after,
.row::before,
.container::after,
.container::before {
    content: "";
    display: table;
    clear: both;
}

.row {
    min-height: 80px;
}

.container {
    width: 100%;
    padding: 0 5%;
    margin: auto;
}

.row [class *=col-] {
    float: left;
}

.col-20 {
    width: 20%;
}

.pull-right-10 {
    margin-right: 10%;
}

.col-70 {
    width: 70%;
}

.form-content fieldset {
    min-height: 800px;
}