*,*:after,*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 20px;
}

.clearfix:before,.clearfix:after {
    content: "\200b";
    display: block;
    height: 0;
    clear: both;
}

.bor-bgc {
    border: 1px solid #999;
    padding: 20px;
    background-color: #fff;
}
/*整体容器设置*/
.container {
    background-color: #eee;
    margin: 0 auto;
    padding: 20px 160px 20px 240px;
    border: 1px solid #666;
    word-wrap: break-word;
    min-width: 650px;
}
/*整体容器结束*/

/*左侧栏开始*/
.left-sidebar {
    float: left;
    width: 200px;
    margin-left: -100%;
    position: relative;
    left: -220px;
}

.left-sidebar img,.left-sidebar h2 {
    height: 80px;
    float: left;
}

.left-sidebar img {
    width: 80px;
}

.left-sidebar h2 {
    width: 56px;
    font-size: 16px;
    font-weight: 400;
    margin-left: 20px;
}
/*左侧栏结束*/


/*主内容区域开始*/
.main {
    float: left;
    width: 100%;
    background-color: #fff;
}

.main {
    line-height: 1.6
}
/*主内容区域结束*/


/*右侧栏开始*/
.right-sidebar {
    float: left;
    width: 120px;
    margin-left: -120px;
    position: relative;
    right: -140px;
}

.item-staff-logo {
    margin-bottom: -20px;
}

.right-sidebar img {
    display: block;
    width: 80px;
    height: 80px;
    border: 1px solid #666;
    float: left;
    margin-bottom: 20px;
}
/*右侧栏结束*/
