/*css重置*/

*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding: 20px;
}

.wrap div {
    width: 150px;
    border: 1px solid #f00;
    padding: 10px;
    margin: 10px;
}

.div-1 {
    height: 120px;
}

.div-2 {
    height: 100px;
}

.div-3 {
    height: 40px;
}

div.div-4 {
    height: 200px;
    border-color: #00f;
}

.wrap {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-align-items: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
}


@media (max-width: 640px) {
    .wrap {
        -ms-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
                flex-wrap: wrap;
        -ms-align-items: flex-start;
        -webkit-align-items: flex-start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
    .div-4{
        -webkit-order: -1;
            -ms-flex-order: -1;
                order: -1;
    }
}
